.main {
  font-size: $default-font-size;
  color: $color-grey-light-2;
}

.heading {
  margin: 0;
  color: $color-grey-light-2;

  &__primary {
    text-transform: uppercase;
    letter-spacing: 1.85rem;
    font-weight: 300;
    font-size: 3rem;
    margin: 0;

    &-sub {
      text-transform: none;
      letter-spacing: 1.6rem;
      font-size: 1.5rem;
    }
  }

  &__secondary {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.1rem;
    color: $color-grey-light-2;
    font-weight: 700;
    font-size: 1rem;
    margin: 0.4rem 0;
  }

  &__description {
    text-transform: capitalize;
    font-weight: 700;
    color: $color-grey-dark;
    font-size: 0.8rem;
    margin: 0.4rem 0;
  }

  &__tertiary {
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-weight: 500;
    font-size: 2rem;
    margin: 0.4rem 0;
  }
}
