// TEXT ALIGN
.u-center-text {
  text-align: center;
}

.u-justify-text {
  text-align: justify;
}

.u-right-text {
  text-align: right;
}

.u-left-text {
  text-align: left;
}

// BORDER RADIUS
.u-border-radius-bottom {
  border-radius: 0 0 0.3rem 0.3rem;
}

.u-border-radius-top {
  border-radius: 0.3rem 0.3rem 0 0;
}

// TEXT COLOUR
.u-text-white {
  color: $color-white;
}

.u-text-dark {
  color: $color-grey-dark;
}

.u-text-primary-light {
  color: $color-primary-light;
}

.u-text-primary {
  color: $color-primary;
}

.u-text-primary-dark {
  color: $color-primary-dark;
}

.u-text-primary-gradient {
  display: inline-block;
  -webkit-background-clip: text;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary,
    $color-primary-dark
  );
  color: transparent;
}

// DiSPLAY VISIBILITY

.u-vis-hidden {
  visibility: hidden;
}

// MARGIN

.u-margin-bottom {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}
.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-top {
  margin-top: 4rem;
}
.u-margin-top-small {
  margin-top: 1.5rem;
}
.u-margin-top-big {
  margin-top: 6rem;
}

// Minus Margin
.u-neg-margin-top {
  margin-top: -4rem;
}
.u-neg-margin-top-small {
  margin-top: -1.5rem;
}
.u-neg-margin-top-big {
  margin-top: -6rem;
}
