.row-col-3 {
  padding: 0 2rem;
  padding-bottom: 6rem;
  grid-gap: $gutter-horizontal;
  grid-template-columns: auto auto auto;
  display: grid;
  .col-3 {
  }
}

.row-col-1 {
  padding: 0 2rem;
  padding-bottom: 3rem;
  grid-gap: $gutter-horizontal-small;
  row-gap: $gutter-horizontal-small;
  grid-template-columns: auto;
  display: grid;
  .col-1 {
  }
}
