.btn {
  &,
  &:link,
  &:visited {
    max-width: 90%;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    border-radius: $border-radius;
    user-select: none;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 0.8rem;
    }
  }

  &--primary {
    color: $color-white;
    background-color: $color-primary;
    box-shadow: 1px 6px 7px 3px rgba($color-grey-dark, 0.1);
    &:active {
      box-shadow: none;
    }
  }

  &--grey {
    color: $color-white;
    background-color: $color-grey-light-2;
    box-shadow: 1px 6px 7px 3px rgba($color-grey-dark, 0.1);
  }

  &:focus {
    border: none;
    outline: none;
  }
}
