.cartCard {
  background-color: $color-white;
  border-radius: $border-radius;
  max-width: 100%;
  display: grid;
  box-shadow: 1px 6px 7px 3px rgba($color-grey-dark, 0.1);
  grid-template-columns: 30% 70%;
  transition: all 0.3rem;

  @include respond(tab-port) {
    max-width: 30rem;
    margin: auto;
    grid-template-columns: auto;
    text-align: center;
  }

  &__picture {
    width: 100%;
    height: 20rem;
    border-radius: $border-radius;
    object-fit: cover;
  }

  &__content {
    text-transform: uppercase;
    padding: 1.5rem 2rem;

    @include respond(tab-port) {
      padding: 1rem;
    }
  }

  &__quantity {
    padding: 0.3rem 0;
    font-size: 0.9rem;
    font-weight: 800;
    &-icon {
      background-color: $color-grey-light-3;
      color: $color-grey-light-2;
      padding: 0.3rem;
      border-radius: 0.1rem;
      font-size: 0.8rem;
      cursor: 6rem pointer;

      &:active {
        background-color: $color-grey-light;
      }
    }

    &-value {
      width: 0.5rem;
      padding: 0.3rem 0.4rem;
      cursor: default;
      user-select: none;
    }
  }

  &__btn {
    max-width: 100%;
    text-align: center;
  }
}

.cartCard .cartCard__btn:active {
  display: none;
}

.cartCard__margin {
  margin-top: -6rem;

  @include respond(tab-port) {
    margin-top: -6rem;
  }

  @include respond(phone) {
    margin-top: 0rem;
  }
}
