.dashboard {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  @include respond(big-desktop) {
    margin: 0 auto;
  }

  @include respond(tab-land) {
    margin: 0 auto;
  }
}

.sub-unit {
  font-size: 1rem;
}
.productCard {
  background-color: $color-white;
  box-shadow: 1px 1px 7px 1px rgba($color-grey-dark, 0.1);
  border-radius: $border-radius;
  max-width: 20rem;
  height: 30rem;
  position: relative;
  transition: all 0.3s;

  @include respond(big-desktop) {
    max-width: 30rem;
    height: 35rem;
    margin: 0 auto;
  }

  @include respond(tab-port) {
    max-width: 100%;
    height: 28rem;
    margin: 0 auto;
  }

  @include respond(phone) {
    max-width: 100%;
    height: 32rem;
    margin: 0 auto;
  }

  &__picture {
    width: 100%;
    height: 20rem;
    border-radius: $border-radius;
    object-fit: cover;
    object-position: center;

    @include respond(tab-port) {
      height: 18.5rem;
    }

    @include respond(phone) {
      height: 22rem;
    }
  }

  &__content {
    max-width: 100%;
    text-align: center;
    padding: 0.2rem 0.9rem;
  }

  &:hover {
    box-shadow: 1px 1px 7px 3px rgba($color-grey-dark, 0.1);
    transform: translateY(-0.5rem) scale(1.03);

    @include respond(tab-port) {
      // box-shadow: 1px 1px 7px 3px rgba($color-grey-dark, 0.1);
      box-shadow: none;
      transform: translateY(0) scale(1);
    }
  }

  &__btn {
    max-width: 100%;
    text-align: center;
  }
}
