@import "assets/sass/abstract/functions";
@import "assets/sass/abstract/mixin";
@import "assets/sass/abstract/variables";

@import "assets/sass/base/base";
@import "assets/sass/base/typography";
@import "assets/sass/base/utitlites";

@import "assets/sass/components/navigation";
@import "assets/sass/components/navSearch";
@import "assets/sass/components/button";
@import "assets/sass/components/dashboard";
@import "assets/sass/components/cart";
@import "assets/sass/components/cartTotal";

@import "assets/sass/layouts/grid";
@import "assets/sass/layouts/header";

.App {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
