@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  margin: 0;
  font-size: 62.25%;
  font-family: "Lato", sans-serif;
  user-select: none;
  overflow-x: hidden;
  background-color: #f6f6f6;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
